html{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}



body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	font-size: 10px;
	font-family: Arial;
	background-color: #c1b9b6;

}

a{
	font-weight: bold;
	color:#E8D2AE;
	text-decoration: none;
}

h1{
	 color:#D7B29D;
}

kbd{
	padding:1px;
	background-color: #E8D2AE;
	color:#796465;
	border-radius: 5px;
}


#detailtable{	
	max-width: calc(100% - 250px);
	width:75%;
	height:100%;
	min-height:100%;
	overflow:auto;
	margin:0;
	display:inline-block;
	box-sizing:border-box;
	color: #4b4041;
}

#sidebar{
	position:0;
	background-color: #796465;
	position:fixed;
	overflow:auto;
	height:100%;
	display:inline-block;
	vertical-align: top;
	width:25%;
	min-width:250px;
	min-height:100%;
	margin:0;
	padding:20px;
	padding-top:40px;
	box-sizing:border-box;
	color: #DDE8B9;
	text-transform: uppercase;
	font-size: 12px;
}

table.fixed, table.results{ 
	table-layout:fixed; 
	width: 100%;
	border-spacing:0; /* Removes the cell spacing via CSS */
  	border-collapse: collapse;	
}
table.fixed td{ 
	min-width: 65px;
	max-width: 65px;
	width:65px;
	box-sizing:border-box;
	margin:0;
	padding:0 5px 0 5px;
	border: 1px solid #796465	;
	height:80px;
	font-size:9px;
	background-color: #f6ecda;
 }

 table.fixed th{
 	height:30px;
 	min-width: 65px;
	max-width: 65px;
	width:65px;
	margin:0;
	padding:0;
	box-sizing:border-box;
	border: 1px solid #796465	;
	background-color: #D7B29D;
	text-transform: capitalize;
 }


	
.fixed tbody:before {
    content: "-";
    display: block;
    line-height: 30px;
    color: transparent;
}

#blocker{
	position: fixed;
	height: 31px;
	width: 67px;
	border: 1px solid #796465	;
	background-color: #D7B29D;
	z-index: 5;
	box-sizing:border-box;

}
.fieldbox{
	width:40px;
}
.rowhead, .colhead{
	position:fixed;
}

table.fixed td.rowhead{
	min-width: 65px;
	max-width: 65px;
	width:65px;
	border-bottom: 0px;
	height:80px;
	padding:0;
	box-sizing: content-box;
	background-color: #D7B29D;
	text-transform: capitalize;
	display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
}
table.fixed td.rowhead.last{
	height:79px;
	border-bottom:1px solid #796465	;
}
table.fixed td.col1{
	border-left:0px;
}

#prefloader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 100;
	display: flex;
	align-items: center;
  	justify-content: center;
}

.showbox{
	position:relative;
	width:50%;
	height:75%;
	border-radius:5px;
	background-color: #796465;
	display: flex;
	flex-direction:column;
	align-items: center;
  	justify-content: center;
  	color: #DDE8B9;
	text-transform: uppercase;
	font-size: 12px;

}

.jsonbox{
	position:relative;
	width:90%;
	height:60%;
	margin-bottom: 25px;
}
.boxbtns{
	position:absolute;
	height:10%;
	padding:10px;
	bottom:0;
	right:5%;
}


.hidden{
	display:none !important;
}

.otp{
	background-color: #DDE8B9 !important;
}

.otpblock{
	background-color: #D6C1A6!important;
}

.notp, .notp.otpblock{
	background-color: #CF9993 !important;
}

.disabledbox, .disabledbox.otpblock{
	background-color:#c1b9b6 !important;
}

select, input[type="text"],textarea{
	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   	height:30px;
   	padding: 5px;
   	width:100%;
   	border: 2px solid #CB8589;
   	box-sizing:border-box;
   	border-radius: 5px;
   	margin: 10px auto;
   	margin-top: 5px;
   	color:#CB8589;
   	font-size: 10px;
   	outline:none;
}

select:focus, input[type="text"]:focus, textarea:focus{
	border-color:#DDE8B9;
}

.selectwrapper{
	padding:0;
	margin:0;
	position:relative;
	overflow:auto;
}
.selectwrapper::after { 
    content: "";
    position: absolute;
    right:10px;
    top:18px;
    width: 0; 
	height: 0; 
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	
	border-top: 5px solid #CB8589;

}

td input[type="text"]{
	height:20px;

	border: 1px solid #796465;
}

button{
	border:0;
	outline:none;
	background-color: #DDE8B9;
	color:#796465;
	height: 25px;
	border-radius: 5px;
	margin:5px;
}
button:hover{
	background-color: #D7B29D;
}

button.helpbutton{
	position:absolute;
	top:0;
	left:0;
	margin:0;
	height:30px;
	border:2px solid #DDE8B9;
	border-top:0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-size: 16px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width:100%;
}

select option {text-transform:capitalize}

ul{
	list-style: none;
	padding:0;
	text-align:center;
}

li{
	height:15px;
	color:#CB8589;
	font-size:9px;
	border-radius:5px;
	display:flex;
	margin:1px 0 1px 0;
    align-items: center;
    justify-content: center;
    font-weight:bold;
	background-color: #E8D2AE;
}

li.divider{
	height:10px;
	font-size:8px;
	color:#796465;
	border-radius:5px;
	padding-top:1px;
	background-color: #D7B29D;
}

table.results{
	padding:10px;	
	font-size: 11px;
}

table.results td{
	padding:2px;
	border: 1px solid #796465;
	background-color: #E8D2AE;
	text-align: center;
    color: #CB8589;
}

table.results th{
	padding:2px;
	border: 1px solid #796465;
	background-color: rgba(215,178,157,0.5)
}

.results th:first-child {
    border-top-left-radius: 10px;
}

.results th:last-child {
    border-top-right-radius: 10px;
}

.results tr:last-child td:first-child{
	border-bottom-left-radius: 10px;
}

.results tr:last-child td:last-child{
	border-bottom-right-radius: 10px;
}

.instrs{
	text-transform: none;
	min-height:300px;
	height:90%;

	
}
.instrs .instrswrap{
	min-height:250px;
	height:75%;
	overflow:auto;
	padding:20px;
	margin-bottom:10%;
}
